DIV.tile-holder {
	text-align: center;
}
DIV.tile-holder DIV.game-tile {
	display: inline-block;
	width: 64px;
	height: 64px;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
	margin: 4px;
	border: 2px solid #6F6F6F;
}
DIV.tile-holder DIV.game-tile.-filled {
	border: 0px;
}
DIV.tile-holder DIV.game-tile>EM {
	display: block;
	width: 64px;
	height: 64px;
	background-size: 56px !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
}
DIV.tile-holder DIV.game-tile.-closed::after {
	display: block;
	content: '';
	width: 64px;
	height: 64px;
	background: #EFEFEF;
}
DIV.tile-holder DIV.game-tile.-closed>EM{
	display: none;
}
DIV.tile-holder DIV.game-tile.-filled>EM {
	display: none;
}